@font-face {
  font-family: 'Avenir';
  src: url('../../Fonts/avenir/Avenir-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../Fonts/montserat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../Fonts/montserat/Montserrat-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
